<!-- 
  loading: 
  @controller: LoadingCtrl  
  @state: 'loading'
  App opens on this page and waits here until ionicPlatform.ready() to redirect to /login
  or /nearby depending on current auth status. If no meteor server connection, app will
  redirect to /login with warning toast
-->
<ion-view title="PSYCHIC LINK" hide-back-button="true" can-swipe-back="false">
    <ion-content scroll="false">
		<section class="authenticate-container">
			<div class="col spacer"></div> 
			<div class="col button-row text-center"> 
				<div> <ion-spinner class="auth-spinner spinner-stable" icon="ripple"></ion-spinner> </div>
				<div> <span> Loading </span> </div> 
			</div>
			<div class="col spacer"></div> 		
		</section>
	</ion-content>
</ion-view>
	