<ion-view title="PSYCHIC LINK" hide-back-button="true" can-swipe-back="false">
    <ion-content scroll="false">
        <section class="login-container">
          <div class = "col button-row text-center">
          </div>
          
          <!-- DEVELOPMENT 
          <div class = "col button-row text-center" ng-click="devLogin()"> -->
          
          <!-- PRODUCTION  -->
          <div class = "col button-row text-center" ng-click="login()"> 
          
          <img src="./img/signin-button.png" />
          </div>
          <div class = "col header text-center">
          </div>
          <div class = "col button-row text-center explanation">
              <h5> Use low energy radio waves </h5>
              <h5> to see what the people around you do. </h5>
          </div>
        </section>
    </ion-content>
</ion-view>
