<ion-view view-title="Notifications">
  <ion-content>
    <ion-list>
      <ion-item
        ng-repeat="note in vm.notifications"
        class="item-chat item-avatar item-icon-right"
        type="item-text-wrap">
        <img ng-src="{{note.pictureUrl}}">
        <h2>{{note.name}}</h2>
        <p> <span> Checked your profile </span> 
            <span class="last-message-timestamp">{{note.timestamp | timeFilter}}</span>
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i> 
      </ion-item>
    </ion-list>
    <button class="button button-full button-positive" ng-click="vm.testNotify()">
      Test notification
    </button>
    <button class="button button-full button-positive" ng-click="vm.clearNotes()">
      Clear
    </button>
    <button class="button button-full button-positive" ng-click="vm.pushTest()">
      PushTest
    </button>
  </ion-content>
</ion-view>