<ion-view view-title="Nearby">
  <ion-nav-buttons server-status side="right"> 
    <button class="button button-clear icon ion-ios-cloud-outline" ng-click="toast()" 
            ng-class="{'button-assertive': !status, 'button-balanced': status}"></button>
   </ion-nav-buttons>
  <ion-content>
    <!-- SLIDES -->
    <ion-slide-box active-slide="vm.slide" auto-play="false" show-pager="false" on-slide-changed="vm.maps(index)">
      <!-- List Slide -->
      <ion-slide>
        <ion-list>
          <ion-item
            ng-repeat="user in vm.connections"
            class="item-chat item-avatar item-icon-right"
            ng-class="{'new-item': user.isNew }"
            type="item-text-wrap"
            href="#/tab/nearby/{{user.profile.id}}"
            ng-click="vm.notify(user)"
            ng-show="user.profile">
            <img ng-src="{{user.profile.pictureUrl}}">
            <h2>{{user.profile.firstName}}&nbsp{{user.profile.lastName}}</h2>
            <p>{{user.profile.headline}}</p>
            <span class="last-message-timestamp">{{user.proximity | proximityFilter }}</span>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>
       
      </ion-slide>
      <!-- Map Slide -->
      <ion-slide> 
         <ion-header-bar align-title="left" class="bar-grey"> 
          <div class="title bar-center">{{vm.geolocate.address}}</div>
          <div class="buttons bar-center">
            <button class="button button-clear button-positive icon ion-ios-person"
                    ng-show="vm.connections.length && vm.slide === vm.mapSlide"
                    ng-click="vm.slide=vm.listSlide"></button> 
            <span class="badge badge-assertive icon-badge" ng-bind="vm.connections.length"
                  ng-show="vm.connections.length && vm.slide === vm.mapSlide"></span>   
          </div>
        </ion-header-bar>
        <beacon-map slide="vm.slide"></beacon-map>
      </ion-slide>
    </ion-slide-box>
  </ion-content> 

  <!-- Scanning Cover for empty connections table, list view -->
  <section class="authenticate-container fade" 
           ng-show="!vm.connections.length && vm.slide === vm.listSlide">
    <div class="col spacer"></div>
    <div class="col button-row text-center"> 
      <div> <ion-spinner class="auth-spinner spinner-stable" icon="ripple"></ion-spinner> </div>
      <div> <span> Scanning </span> </div>
    </div>
    <div class="col spacer"></div>    
  </section>

  <!-- FOOTERS -->

  <!-- Home Button for map view -->
  <ion-footer-bar align-title="left" class="bar-subfooter bar-transparent"
        ng-show="(vm.slide === vm.mapSlide)">
    <button class="button button-clear" ng-click='vm.geolocate.updateMap()'>
      <i class="icon positive ion-ios-home"></i>
    </button> 
  </ion-footer-bar>
  
  <!-- Slide Toggle -->
  <ion-footer-bar align-title="left" class="bar-stable" >
    <span class="col col-20"></span>
    <span class="button-bar">
      <button class="button button-positive icon-left ion-ios-list-outline"
              ng-class="{'button-outline': !(vm.slide === vm.listSlide)}"
              ng-click="vm.slide=vm.listSlide">
        List
      </button>
      <button class="button button-positive icon-left ion-ios-location-outline"
              ng-class="{'button-outline': !(vm.slide === vm.mapSlide)}"
              ng-click="vm.slide=vm.mapSlide">
        Map
      </button>
    </span>
    <span class="col col-20"></span>
</ion-footer-bar>
</ion-view>

<!--  -->