<ion-view view-title="Nearby">
  <ion-content>
    <ion-list>
      <ion-item
        ng-repeat="user in nearby.connections"
        class="item-chat item-avatar item-icon-right"
        ng-class="{'new-item': user.isNew }"
        type="item-text-wrap"
        href="#/tab/nearby/{{user.profile.id}}"
        ng-click="nearby.notify(user)"
        ng-show="user.profile">
        <img ng-src="{{user.profile.pictureUrl}}">
        <h2>{{user.profile.firstName}}&nbsp{{user.profile.lastName}}</h2>
        <p>{{user.profile.headline}}</p>
        <span class="last-message-timestamp">{{user.proximity | proximityFilter }}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <button class="button button-full button-positive" ng-click="nearby.testPub()">
      Test newConnection
    </button> 
    <button class="button button-full button-positive" ng-click="nearby.clear()">
      Test disconnect
    </button> 
    <button class="button button-full button-positive" ng-click="nearby.initBeacon()">
      Test beacons initialize
    </button> 
  </ion-content>
</ion-view>

<!--  -->