<ion-view view-title="{{vm.viewTitle}}">
  <ion-content class="profile-content">
    <div class="list card">
      
      <div class="item item-thumbnail-left profile-header">
        <img ng-src="{{vm.user.pictureUrl}}">
        <h2 class="profile-header-txt profile-bold" ng-bind="vm.user.name"></h2>
        <br>
        <p class="profile-header-txt" ng-bind="vm.user.industry"></p>
        <p class="profile-header-txt" ng-bind="vm.user.location.name"></p>
      </div>

      <div class="item">
        <h2 ng-bind="vm.user.headline"></h2> 
      </div>

      <div class="item"> 
          Connections: 
          <span ng-bind="vm.user.numConnections"></span>
      </div>
      <div class="item profile-content">
        <span> Background </span>
      </div>
      <div class="item item-body">
        <p class="profile-bold"> Summary </p>
        <p ng-bind="vm.user.summary"></p>
      </div>
      <div ng-show="vm.user.emailAddress" class="item profile-content">
        <span> Email </span>
        <p class="profile-small"> (Tap plus to add to phone contacts) </p>
      </div>
      <div ng-show="vm.user.emailAddress" class="item item-button-right">
        {{vm.user.emailAddress}}
        <button class="button button-positive">
          <i class="icon ion-ios-plus"></i>
        </button>
       </div>
      
    </div>
  </ion-content>
</ion-view>