<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-stable tabs-icon-top tabs-color-positive" ng-cloak>
 
 <ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Nearby" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/nearby">
    <ion-nav-view name="tab-nearby"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Bookmarks" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/bookmarks">
    <ion-nav-view name="tab-bookmarks"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
 
  <ion-tab title="Settings" icon-off="ion-ios-cog-outline" icon-on="ion-ios-cog" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

  <!-- <ion-tab title="History" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/tab/recents">
    <ion-nav-view name="tab-recents"></ion-nav-view>
  </ion-tab> -->
 
</ion-tabs>
