/* Empty. Add your own CSS if you like */
.profile-add-contact.ng-hide-remove {
	opacity: 8;
    -webkit-animation: flash 1s;
    animation: flash 1s;
}

.profile-footer{
	-webkit-animation: slideOutDown 300ms;
    animation: slideOutDown 300ms;
}

.item-chat.new-item.ng-enter {
    -webkit-animation: slideInLeft 500ms;
    animation: slideInLeft 500ms;
}

.authenticate-container {
	color: white;
    background-color: #BECDDE;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
}

.authenticate-container.spacer {
    -webkit-flex: 1;
}

.spinner svg{

  	width: 96px !important;
 	height: 96px !important;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.authenticate-container.loading {
  	
}

.item-icon-left.setup{
    padding-left: 70px; 
}

i.icon.setup{
    font-size: 49px;
}
/* Map CSS */
#map{
    height: 500px;
}
#map.platform-ipad{
    height: 1000px;
}

.leaflet-control-zoom-out{
    visibility: hidden !important;
}

.leaflet-control-zoom-in{
    visibility: hidden !important;
}

.bar.bar-transparent {

    background-color: transparent;
    background-image: linear-gradient(0deg, #e6b500, #e6b500 50%, transparent 50%);
    color: #444; 
}

.leaflet-bar{
    border: none !important;
}

.icon-badge {
  position: absolute;
    top: 4%;
    right: 33%;
    right: calc(50% - 21px);
    padding: 1px 6px;
    height: auto;
    font-size: 12px;
    line-height: 16px;
    pointer-events: none;
}
