/* Empty. Add your own CSS if you like */
.profile-add-contact.ng-hide-remove {
	opacity: 8;
    -webkit-animation: flash 1s;
    animation: flash 1s;
}

.profile-footer{
	-webkit-animation: slideOutDown 300ms;
    animation: slideOutDown 300ms;
}

.item-chat.ng-enter {
    -webkit-animation: slideInLeft 500ms;
    animation: slideInLeft 500ms;
}
