.login-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
    background: url('../img/psychic-link.jpg') no-repeat center;
    background-size: cover;
    //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efad62), color-stop(100%,#f7d47c));
    //background: -webkit-linear-gradient(top, #efad62 0%,#f7d47c 100%);
}

.login-container > .header {
    -webkit-flex: 6;
    padding-top: 20px;
}

.login-container > .explanation {

	background-color: white;
}