//general background-color: #DBDBDB;
//header background-color: #AC9CA5;

.profile-content{
	background-color: #DBDBDB;
}

.profile-header{
	background-color: #AC9CA5;
}

.profile-header-txt{
	color: white !important;
}

.profile-bold{
	font-weight: bold !important;
}

.profile-small{
	font-size: 12px;
	opacity: .8 !important;
}